p img, li img, h1 img, h2 img, h3 img, h4 img {
	max-height: 1em;
	max-width: 1em;
}
body {
	margin: auto ;
	color: #ddd ;
	background: rgba(0,0,0,.3) ;
	padding: 20px ;
	border-radius: 50px ;
}

strong { color: white ; }

a strong { color: lime ; }
details { padding-left: 20px ; text-decoration: underline; }

pre {
	background: #222 ;
	border: 1px solid lime ;
	border-radius: 20px ;
	padding: 20px ;
	margin: 30px ;
}

code {
	background: #222 ;
	color: lime ;
	border-radius: 5px ;
}

ul {
	margin-left: 20px ;
	margin-right: 20px ;
}

li img, p img {
	max-height: 1em ;
	max-width: 1em ;
}

html {
	padding-top: 10px;
	background: linear-gradient(darkslategray, black) no-repeat fixed ;
	margin-bottom: 500px;

}

h1,h2,h3,h4 { text-align: center ; }

h1 { color: lightblue ; }

h2 { color: goldenrod ; }

h3 { color: tomato ; }

h4 { color: deepskyblue ; }

a { color: turquoise ;}

a:hover { color: greenyellow ;}
.new a:hover { color: greenyellow ; }


dt { font-weight: bold ; color: lightgray ; }

.resright {
	display: block ;
	margin: auto ;
	max-width: 90% ;
}

.titleimg {
	display: block ;
	margin: auto ;
	max-width: 90% ;
	max-height: 400px ;
}

.lol {
	padding: .25em ;
}

.lol ul {
	margin: 0;
	list-style: none;
	padding: 0;
}

@media (min-width: 55em) {
	.lol { display: inline-block; vertical-align: top ; }

	.resright {
		float: right;
		padding: 20px ;
		clear: both ;
		max-width: 300px ;
	}

	body { max-width: 850px ; }
}

footer {
	font-size: large ;
	margin: auto ;
	max-width: 500px ;
}

.entry p, .entry li { margin-left: 2em ; }

figure img { max-width: 100% ; margin: auto ; }

figcaption { font-style: italic ; font-size: small ; }

figure { text-align: center; }

#toc {
	font-size: x-large ;
	margin-left: auto ;
	margin-right: auto ;
	max-width: 500px ;

}

#toc li { padding: 5px }

.new::after {
	content: " 🆕" ;
	/* content: " (New 🎁)" ; */
	color: goldenrod ;
}

.i a { color: green ;}
.d a { color: red ;}

div.static {
	position: static;
}

form {
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: #fff;
  opacity: 0.7;
}
